aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
antlr4-python3-runtime==4.8
async-timeout==5.0.1
attrs==26.1.0
cachetools==7.0.6
carla==0.9.16
click==8.3.3
cloudpickle==1.3.0
decorator==5.2.1
descartes==1.1.0
dictor==0.1.7
efficientnet-pytorch==0.7.0
ephem==4.2.1
frozenlist==1.8.0
fsspec==2026.3.0
future==1.0.0
fvcore==0.1.5.post20221221
gitdb==4.0.12
gitpython==3.1.48
gym==0.17.2
h5py==3.16.0
hydra-core==1.1.1
imageio==2.37.3
imageio-ffmpeg==0.6.0
imgaug==0.4.0
iopath==0.1.10
lightning-utilities==0.15.3
lmdb==2.2.0
motmetrics==1.1.3
moviepy==2.2.1
multidict==6.7.1
narwhals==2.20.0
nuscenes-devkit==1.2.0
omegaconf==2.1.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
parameterized==0.9.0
pillow==11.3.0
plotly==6.7.0
proglog==0.1.12
propcache==0.4.1
protobuf==7.34.1
py-trees==0.8.1
pycocotools==2.0.11
pydantic==2.13.3
pydantic-core==2.46.3
pydot==4.0.1
pyglet==1.5.0
pyquaternion==0.9.9
python-dotenv==1.2.2
pytorch-lightning==1.2.5
sentry-sdk==2.58.0
setuptools==69.5.1
shapely==2.0.7
shortuuid==1.0.13
simsimd==6.5.16
smmap==5.0.3
stable-baselines3==0.8.0
stringzilla==4.6.0
timm==0.5.4
torchmetrics==1.9.0
typing-inspection==0.4.2
wandb==0.26.1
yarl==1.23.0
yaspin==3.4.0
