absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1769637056219/work
action-msgs==1.2.2
action-tutorials-interfaces==0.20.7
action-tutorials-py==0.20.7
actionlib-msgs==4.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-types==0.7.0
antlr4-python3-runtime==4.8
async-timeout==5.0.1
attrs==26.1.0
backports.zstd @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.zstd_1767044984/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1764016952863/work
builtin-interfaces==1.2.2
cachetools==7.0.6
carla @ file:///home/pplove/carla/PythonAPI/carla/dist/carla-0.9.16-cp310-cp310-manylinux_2_31_x86_64.whl#sha256=cd3f70a6c01793654ad4905813d03fcd20ad55a0343095d89eee3ccf78835d84
ccimport==0.4.4
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1776866578774/work/certifi
cffi @ file:///home/task_176183215827778/conda-bld/cffi_1761832774246/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1775127091311/work
click==8.3.3
cloudpickle==1.3.0
composition-interfaces==1.2.2
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1744743067588/work
cumm-cu113==0.4.11
cv-bridge==3.2.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1767576699972/work
decorator==5.2.1
demo-nodes-py==0.20.7
descartes==1.1.0
diagnostic-msgs==4.9.0
dictor==0.1.7
domain-coordinator==0.10.0
efficientnet_pytorch==0.7.0
ephem==4.2.1
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1776621385265/work
fire==0.7.1
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1776708057478/work
frozenlist==1.8.0
fsspec==2026.3.0
future==1.0.0
fvcore==0.1.5.post20221221
geometry-msgs==4.9.0
gitdb==4.0.12
GitPython==3.1.48
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1773244929835/work
grpcio @ file:///croot/grpc-suite_1701982571719/work
gym==0.17.2
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5py==3.16.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hydra-core==1.1.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1776947141/work
image-geometry==3.2.1
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
imgaug==0.4.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1773931568/work
interactive-markers==2.3.2
iopath==0.1.10
isodate==0.7.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067043/work
laser-geometry==2.4.1
launch==1.0.13
launch-ros==0.19.13
launch-testing==1.0.13
launch-testing-ros==0.19.13
launch-xml==1.0.13
launch-yaml==1.0.13
lazy-loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1772817235966/work
lifecycle-msgs==1.2.2
lightning-utilities==0.15.3
lmdb==2.2.0
logging-demo==0.20.7
map-msgs==2.1.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_markdown_1770694658/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1772444934960/work
matplotlib==3.10.9
message-filters==4.3.11
motmetrics==1.1.3
moviepy==2.2.1
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1773661943568/work
multidict==6.7.1
munkres==1.1.4
narwhals==2.20.0
nav-msgs==4.9.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1728631323331/work
ninja==1.13.0
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
nuscenes-devkit==1.2.0
omegaconf==2.1.1
onvif-zeep==0.2.12
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
osrf-pycommon==2.1.6
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1764614464206/work
parameterized==0.9.0
pccm==0.4.16
pcl-msgs==1.0.0
pendulum-msgs==0.20.7
pillow==11.3.0
platformdirs==4.5.1
plotly==6.7.0
portalocker==3.2.0
proglog==0.1.12
propcache==0.4.1
protobuf==7.34.1
py_trees==0.8.1
pybind11==3.0.1
pycocotools==2.0.11
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.13.3
pydantic_core==2.46.3
pydot==4.0.1
pyglet==1.5.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
pyquaternion==0.9.9
PySide6==6.7.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.2
python-qt-binding==1.1.3
pytorch-lightning==1.2.5
pytz @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytz_1773679724/work
PyWavelets==1.8.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.7
rcl-interfaces==1.2.2
rclpy==3.3.19
rcutils==5.1.8
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1777030058/work
requests-file==3.0.1
requests-toolbelt==1.0.0
resource-retriever==3.1.3
rmw-dds-common==1.6.0
ros2action==0.18.15
ros2bag==0.15.15
ros2cli==0.18.15
ros2component==0.18.15
ros2doctor==0.18.15
ros2interface==0.18.15
ros2launch==0.19.13
ros2lifecycle==0.18.15
ros2multicast==0.18.15
ros2node==0.18.15
ros2param==0.18.15
ros2pkg==0.18.15
ros2run==0.18.15
ros2service==0.18.15
ros2topic==0.18.15
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1734955875549/work/dist/scikit_image-0.25.0-cp310-cp310-linux_x86_64.whl#sha256=bcdc1e6e667641b681d032d1cf19698c33b534cae3696a8d5336d94c2bbb85cb
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1757406028569/work/dist/scikit_learn-1.7.2-cp310-cp310-linux_x86_64.whl#sha256=99a77396a4a114bf2c78e28c7d64a1857e925ecddb5323510bd54dacb35307ce
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790642651/work/dist/scipy-1.15.2-cp310-cp310-linux_x86_64.whl#sha256=9e52bad6c3294d1a5b04a13632118ca2157130603c6c018c2d710162b223b27e
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentry-sdk==2.58.0
shape-msgs==4.9.0
shapely==2.0.7
shiboken6==6.7.3
shortuuid==1.0.13
simsimd==6.5.16
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.3
spconv-cu113==2.3.6
sros2==0.10.7
stable-baselines3==0.8.0
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
stringzilla==4.6.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1771952240620/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tabulate_1772732795/work
teleop-twist-keyboard==2.4.1
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tensorboard_1752825441/work/tensorboard-2.20.0-py3-none-any.whl#sha256=9dc9f978cb84c0723acf9a345d96c184f0293d18f166bb8d59ee098e6cfaaba6
tensorboard_data_server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1764929526317/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=320c676c3b8470654484a86ac19245f8f9799cbabc98b255e1fa95d106995d5f
termcolor==3.3.0
tf2-geometry-msgs==0.25.18
tf2-kdl==0.25.18
tf2-msgs==0.25.18
tf2-py==0.25.18
tf2-ros-py==0.25.18
tf2-sensor-msgs==0.25.18
tf2-tools==0.25.18
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tifffile @ file:///croot/tifffile_1741164537642/work
timm==0.5.4
topic-monitor==0.20.7
torch @ file:///workspace/croot/pytorch_1692381528408/work
torchmetrics==1.9.0
torchvision==0.15.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1774357896577/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
trajectory-msgs==4.9.0
turtlesim==1.4.3
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1777068919240/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908960326/work
unique-identifier-msgs==2.2.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
visualization-msgs==4.9.0
wandb==0.26.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_werkzeug_1775160081/work
yacs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_yacs_1737043264/work
yarl==1.23.0
yaspin==3.4.0
zeep==4.3.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1776131454/work
